@model IEnumerable<WakePal_WebApp.Models.Sleep>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Awake)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Light)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SleepDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Awake)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Light)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deep)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SleepDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SleepId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.SleepId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.SleepId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>